<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="popup.css" />
    <script src="../javascript/util.js"></script>
    <script src="../javascript/popup.js"></script>
    <script src="../javascript/CollapsibleLists.js"></script>
</head>
<body>
<form id="form">
<div id="main" style="display: none;position: relative;overflow-y: auto;">
    <ul id="listId" class="collapsibleList"></ul>
</div>

<div id="approval" style="display: none">
    <a href="#" id="personalize">Personalize this gadget</a>
</div>

<div id="waiting" style="display: none">
    Please click
    <a href="#" id="approvaldone">I've approved access</a>
    once you've approved access to your data.
</div>
<div id="watch" style="display: none">
    Id: <label id="label-id"></label><br><br>
    Name: <label id="label-name"></label><br><br>
    Due to: <label id="label-due-to"></label><br><br>
    Notes: <label id="label-notes"></label><br><br>
    <a href="#" id="href-back">Back to list</a>
</div>
</form>
</body>
</html>